---
import { SOCIAL_LINKS, BAND_LINKS } from "../../consts";
import Layout from "../../layouts/Page.astro";
---

<Layout
  title="Music & Drum Lessons - Isiah Fletcher | Session Drummer Olympia, Washington"
  description="Professional drum lessons in Olympia, Washington with touring musician Isiah Fletcher. Expert instruction in technique, posture, and musical expression for all skill levels. Former member of Aterrima and Weald & Woe metal bands."
>
  <p>
    Since I was 12, I've dedicated my life to drumming, evolving from a
    passionate beginner to a professional touring musician. I played in two
    Extreme Metal bands, both based in Boise, Idaho, and regularly toured the
    Pacific Northwest and Southwest.
  </p>
  <p>
    I am on hiatus from playing in bands, working on my own music for the time
    being.
  </p>

  <p>
    However, I played in both
    <a href={BAND_LINKS.wealdAndWoe.href}>{BAND_LINKS.wealdAndWoe.title}</a> and
    <a href={BAND_LINKS.aterrima.href}>{BAND_LINKS.aterrima.title}</a>. Both
    bands offered different challenges to me. One, from a composition and
    technical complexity standpoint, and the other, an opportunity to strive for
    perfection and power.
  </p>

  <h3>Lessons</h3>
  <p>
    In 2021, I began offering drum lessons to share my expertise and love for
    music. My focus is on technique, posture, and musical expression, aiming to
    build a solid foundation for students of all levels.
  </p>
  <h4>Overview</h4>
  <ul>
    <li>
      <b>Technique Mastery:</b> I teach everything from fundamental grip and stroke
      techniques to advanced rhythmic patterns, ensuring a comprehensive skill set
      for progression.
    </li>
    <li>
      <b>Posture Perfection:</b> Emphasizing the importance of proper posture to
      prevent injuries and promote efficient playing.
    </li>
    <li>
      <b>Expressive Musicality:</b> Encouraging students to explore their own style
      and expression through music, enhancing their personal connection to their
      playing. Studio and Scheduling
    </li>
  </ul>

  <p>
    My studio, located in Olympia, and is outfitted for lessons with a kit and
    practice pads. I offer flexible scheduling to fit your lifestyle.
  </p>

  <h4>Booking</h4>
  <p>
    If you are interested in a lesson, please DM me on<a
      href={SOCIAL_LINKS.facebook}
      target="_blank">Facebook</a
    >. I'm currently accepting students of all ages and skill levels.
  </p>
  <h5>Here are my hours:</h5>
  <ul>
    <li><b>Monday</b>: 12 pm - 5 pm</li>
    <li><b>Tuesday</b>: 12 pm - 5 pm</li>
    <li><b>Wednesday</b>: 12 pm - 5 pm</li>
    <li><b>Thursday</b>: 12 pm - 5 pm</li>
    <li><b>Friday</b>: 12 pm - 5 pm</li>
    <li><b>Saturday</b>: 12 pm - 5 pm</li>
    <li><b>Sunday</b>: <b>N/A</b></li>
  </ul>

  <h4>Why Me?</h4>
  <ul>
    <li>
      <b>Experienced Instructor:</b> Years of performance and teaching experience
      provide unique insights and techniques.
    </li>
    <li>
      <b>Personalized Learning:</b> Lessons tailored to your individual needs, focusing
      on your strengths and goals. Interested in starting your drumming journey or
      advancing your skills? Contact me to schedule your first lesson and take the
      next step in your musical development.
    </li>
  </ul>
</Layout>
