---
import { SITE_TITLE, NAV_LINKS_ARRAY } from "../consts";
import SocialLinks from "./SocialLinks.astro";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <h2 class="site-title"><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      {
        NAV_LINKS_ARRAY.map((link) => {
          const isExternalLink = link.href.startsWith("http");
          if (link.subLinks && link.subLinks.length > 0) {
            return (
              <div class="dropdown">
                <HeaderLink
                  href={link.href}
                  target={isExternalLink ? "_blank" : "_self"}
                >
                  {link.title}
                </HeaderLink>
                <div class="dropdown-content">
                  {link.subLinks.map((subLink) => {
                    const isExternalLink = subLink.href.startsWith("http");
                    const props = {
                      href: subLink.href,
                      target: isExternalLink ? "_blank" : "_self",
                    };

                    return <HeaderLink {...props}>{subLink.title}</HeaderLink>;
                  })}
                </div>
              </div>
            );
          }
          return (
            <HeaderLink
              href={link.href}
              target={isExternalLink ? "_blank" : "_self"}
            >
              {link.title}
            </HeaderLink>
          );
        })
      }
    </div>
    <SocialLinks />
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1rem;
    background: linear-gradient(var(--gray-gradient-solid)) no-repeat;
    color: rgb(var(--accent-bright));
    text-align: center;
    box-shadow: 0 2px 8px var(--accent-dark);
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  h2 {
    margin: 0;
    font-size: 1.5em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    flex-flow: row wrap;
  }

  nav a {
    transition:
      border 0.25s,
      color 0.25s;
    padding: 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  nav a:hover {
    text-decoration: none;
    border-bottom-color: var(--accent-light);
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    position: absolute;

    text-align: left;
    visibility: hidden;
    background-color: rgba(var(--gray-dark), 0.95);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    visibility: visible;
  }
</style>
