---
import { EXTERNAL_LINKS } from "../consts.ts";
interface Props {
  width: number;
  height: number;
  src: string;
  credit?: string;
  alt?: string;
  className?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  width = 1020,
  height = 510,
  src,
  alt = "",
  credit,
  className,
} = Astro.props;
---

<div class={`${className} image-container`}>
  <img width={width} height={height} src={src} alt={alt} />
  <small
    >{
      credit ? (
        credit
      ) : (
        <>
          Photo taken by
          <a
            href={EXTERNAL_LINKS.shelbzWebsite}
            target="_blank"
            rel="noopener noreferrer"
          >
            Shelbz Citrine
          </a>
        </>
      )
    }
  </small>
</div>

<style>
  .image-container {
    position: relative;
    display: inline-block;
  }
  .image-container > img {
    display: block;
  }

  .image-container > small {
    transition: all 0.25s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    padding: 0.5em;
    font-size: 0.8em;
    font-style: italic;
    opacity: 0;
  }
  .image-container:hover > small {
    opacity: 1;
  }

  @media (max-width: 720px) {
    .image-container > small {
      opacity: 1;
      background: none;
      padding: 0;
      position: unset;
    }
  }
</style>
